.timerBtn{
    width: 85px;
    height: 35px;
    background-color: #363535;
    border: 3px solid #ffffffda;
    border-radius: 12px;
    color: white;
    font-family: consolas, monospace;
    cursor: pointer;
}

#timerDisplay{
    font-size: 70px;
    font-family: consolas, monospace;
    color: rgb(19, 187, 41);
        
}

#timeContainer{
    text-align: center;
    background-color: #000000f1;
    border: 3px solid;
    border-radius: 25px;
}